# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.classpath
*.class
*.jar
*.lst
bin/main/resource/configure/mybatis/SqlMapConfig.xml
bin/main/resource/configure/spring/applicationContext-dao.xml
bin/main/resource/configure/spring/applicationContext-service.xml
bin/main/resource/configure/spring/springmvc.xml
bin/main/resource/log4j.properties
bin/main/webapp/index.jsp
bin/*
target/*
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/m2e-wtp/web-resources/META-INF/maven/congye6/HotelBooking/pom.properties
.settings/org.eclipse.wst.common.component
/target/
